@import "tailwindcss";

:root {
  --background: #272b20;
  --foreground: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-oswald), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --animate-slow-pan: slow-pan 120s linear infinite;

  @keyframes slow-pan {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(-400px, -400px);
      /* Move half the tile size */
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}